* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
    --button-secondary: hsl(var(--hue), 40%, 98%);
    --modal-bg: hsl(var(--hue), 5%, 25%);
    
    font-size: clamp(40%, 15% + 2vw, 75%);
}

html.light {
    --bg-color: hsl(var(--hue), 40%, 98%);
    --text-color: hsl(var(--hue), 5%, 7%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-mode {
    position: absolute;
    top: 2rem;
    right: 2rem;
    line-height: 0;

    color: var(--text-color);
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
    appearance: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    display: grid;
    height: 100vh;
    place-content: center;
}

.flex {
    display: flex;
}

.container-timer {
    display: grid;
    justify-items: center;
}

#timer {
    font-size: 6rem;
    font-weight: 700;
    font-family: sans-serif;
}

#controls {
    margin-top: 1rem;
    padding: 1.5rem 2.5rem;
    gap: 1rem;
    background: var(--controls-bg-color);
    border-radius: 9999px;
}

button {
    background: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 4rem;
}

.secondary {
    color: var(--button-secondary);
}

.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
    display: none;
}

/* *Alert Error */
.modal-wrapper {
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
}

.modal {
    position: relative;
    margin: 0 2rem;
    padding: 8rem 4rem 6rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background: var(--modal-bg);
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.modal.open {
    animation: modal-in 1s ease-in-out forwards;
}

.modal-button {
    display: grid;
    place-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    transform: translateX(0px);
    transition: all 0.2s ease-in-out;
}

.modal-button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

@keyframes modal-in {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
